@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*background image*/
body{
  background-image: url("../media/blkbck.jpg");
}
/*wraps*/
#page_wrap{
  width:960px;
  margin:0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  border-radius: 12px 12px 0px 0px;
}
#content_wrap{
  background-color:rgb(128,128,128);
  text-align: center;
}
/*Nav bar*/
#main_nav {
  float: left;
  width: 100%;
  background-color: #333;
}
#main_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}
#main_nav ul li {
  float: left;
  position: relative;
  right: 50%;
}
#main_nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #333;
}
#main_nav ul li a:hover {
  background-color: #ccc;
  color: rgb(0,0,0);
}
#main_nav ul li a{
  font-size: 2em;
  font-family: 'Doto', monospace;
  color: rgba(0,255,0,1);
}
/*h1 font and centering*/
#content_wrap h1{
  font-size: 3em;
  font-family: 'Doto', monospace;
  color:rgba(0,255,0,1);
}


#map{
  height: 500px;
  width: 100%;
}
/* about me section*/
#section_one{
  width: 300px;
  border-width: 15px;
  border-style: solid;
  border-color: rgba(0,255,0,0.5);
  padding: 50px;
  margin: 20px auto;
}
#section_resume{
  width: 500px;
  border-width: 15px;
  border-style: solid;
  border-color: rgba(0,255,0,0.5);
  padding: 50px;
  margin: 20px auto;
}
#section_resume ul{
  list-style-type: none;
  padding-left: 0;
}
/*box slider*/
#box_sli {
  position: relative;
  width: 400px;
  height: 210px;
  overflow: hidden;
  margin: 20px auto;
}

#slide {
  width: 1200px;
  height: 210px;
  display: flex;
  transition: all 0.5s ease;
}

#slide span {
  width: 400px;
  height: 210px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

#slide img {
  max-width: 100%;
  max-height: 100%;
}

/* === Arrows === */
#left, #right {
  width: 30px;
  height: 210px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2em;
  line-height: 210px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0.5;
  user-select: none;
}

#left:hover, #right:hover {
  opacity: 1;
}

#left {
  left: 0;
}

#right {
  right: 0;
}


  




  


  

  

