@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*background image*/
body{
  background-image: url("../media/blkbck.jpg");
}
/*wraps*/
#page_wrap{
  width:960px;
  margin:0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  border-radius: 12px 12px 0px 0px;
}
#content_wrap{
  background-color:rgb(128,128,128);
  text-align: center;
}
/*Nav bar*/
#main_nav {
  float: left;
  width: 100%;
  background-color: #333;
}
#main_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}
#main_nav ul li {
  float: left;
  position: relative;
  right: 50%;
}
#main_nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #333;
}
#main_nav ul li a:hover {
  background-color: #ccc;
  color: rgb(0,0,0);
}
#main_nav ul li a{
  font-size: 2em;
  font-family: 'Doto', monospace;
  color: rgba(0,255,0,1);
}
/*h1 font and centering*/
#content_wrap h1{
  font-size: 3em;
  font-family: 'Doto', monospace;
  color:rgba(0,255,0,1);
}
 h1{
  text-align: center;
}
/* h2 font and centering*/
h2{
  font-size: 2em;
  font-family: 'Roboto mono', roboto;
  color:rgba(0,0,0);
}
h2{
  text-align:center;
}

/*h3 font and centering*/
h3{
  font-size:2em;
  font-family: 'Roboto mono', roboto;
  color: rgba(0,0,0)
}
h3{
  text-align: center;
}
/*text font and centering*/
p{
  font-size:1em;
  font-family: 'Arial', arial;
  color: rgba(0,0,0)
}
p{
  text-align: center;
}
/*img centering*/
img{
  display:block;
  margin: auto;
  width: 25%;
  height: 50%;
}
/*resume page center alignment*/
#content_wrap ul li{
  text-align: center;
}
#content_wrap ul li{
  list-style:none;
}
#content_wrap ul li{
  font-size:1em;
  font-family: 'Arial', arial;
  color: rgba(0,0,0)
}
  




  


  

  

